body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #00f9f999;
}
div.previous-next {
    background-color: #ffffff99;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 75px 75px;
}
div.previous-next span.after {
    position: absolute;
    content: "";
    width: 400px;
    height: 4px;
    top: 50px;
    margin: 0px 335px;
    background-color: #00000022;
}
div.previous-next a.previous {
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color: #000000aa;
    border: 2px solid #000000aa;
    border-radius: 50px;
    padding: 10px 15px;
    margin-left: 50px;
    transition: 350ms ease-in-out;
}
div.previous-next a.previous:hover {
    color: #ff0f0f;
    border: 2px solid #ff0f0f;
}
div.previous-next a.next {
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color: #266fed;
    border: 2px solid #266fed;
    border-radius: 50px;
    padding: 10px 15px;
    margin-right: 50px;
    transition: 350ms ease-in-out;
}
div.previous-next a.next:hover {
    color: #fed266;
    border: 2px solid #fed266;
}